@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    color: black !important;
    margin: 0;
    padding: 0;
    font-family: "Space Mono" !important;
}

/* navbar section start */

.nav-item>a {
    margin: 0 5px;
    transition: .4s
}

.nav-item>a:hover {
    background: #b48a8a !important;
    border-radius: 5px;
}

a.btn.btn-secondary.text-white {
    color: #b48a8a !important;
    margin: 0 5px;
}

a.btn.btn-secondary.text-white:hover {
    background: #b48a8a !important;
    color: #fff !important;
}

/* navbar section end */
/* carousel section start */
.carousel-item>img {
    max-height: 90vh !important;
    object-fit: cover;
    object-position: 50% 50%;
}

/* carousel section end */
/* start card */
.card img {
    height: 200px;
    object-fit: cover;
}

/* end card */
/* swiper  start*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}

/* swiper end */
/* contact-us section start */
.img img {

    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
    margin: auto;
}

/* contact-us section end */
.list-group>li:hover {
    background: rgb(239, 236, 236);
}

li.nav-item.login {
    /* background: aquamarine; */
    margin: auto;
}

/* form section */
table img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid skyblue;
    object-fit: cover;
}

.img-col {
    display: flex;
    align-items: center;
    min-height: 90px;
    gap: 3px;

}

#hh {
    display: none;
    margin-left: auto;
    margin-right: 40px;
}

/* ******************************************************************************************************************************************************************media-query*************************************************************************************************************************** */
@media (max-width:660px) {
    .swiper-slide {


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .swiper-slide {
        width: 100%;
    }

    .swiper-slide:nth-child(2n) {
        width: 100%;
    }

    .swiper-slide:nth-child(3n) {
        width: 100%;
    }

    .nav-item>a {
        text-align: center;
        width: fit-content !important;
        margin: 5px auto;
        padding: 7px 20px;

    }

    a.btn.btn-secondary.text-white {
        width: fit-content;
        margin: 10px auto;
    }

    form.w-50.m-auto.p-5.shadow-lg {
        width: 100% !important;
    }

    button.btn.btn-secondary.dropdown {
        width: fit-content;
        margin: auto;
    }
}